{% extends "base.html" %}

{% block content %}
{% load app_filters %} 
<div class="row mt-5 pt-5">
    <div class="col-12 text-center">
        <h1>User Detail</h1>
    </div>
</div>
<div class="row h-100 justify-content-center align-items-center">
    <div class="col-6">
        <ul class="list-group">
            <li class="list-group-item"><strong>First Name:</strong> {{object.first_name}}</li>
            <li class="list-group-item"><strong>Last Name:</strong> {{object.last_name}}</li>
            <li class="list-group-item"><strong>IBAN:</strong> {{object.iban | iban_format}}</li>
        </ul>
    </div>
</div>
{% endblock content %}