{% extends 'base.html' %}

{% block title %}
    {{ block.super }} - Users
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-12 mt-5">
            <div class="table-wrapper">
                <div class="table-title">
                    <div class="row">
                        <div class="col-sm-8"><h2>Users <b>Details</b></h2></div>
                        <div class="col-sm-4">
                            <a href="{% url 'user_create' %}" type="button" class="btn btn-secondary add-new mr-4">
                                <i class="fa fa-plus"></i>
                                Add New
                            </a>
                        </div>
                    </div>
                </div>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in object_list %}
                            <tr>
                                <td>{{ user.first_name }}</td>
                                <td>{{ user.last_name }}</td>
                                <td>
                                    <a href="{% url 'user_detail' pk=user.pk %}" class="add" title="Add" data-toggle="tooltip">
                                        <i class="material-icons">remove_red_eye</i>
                                    </a>
                                    {% if user.created_by == request.user %}
                                    <a href="{% url 'user_edit' pk=user.pk %}" class="edit" title="Edit" data-toggle="tooltip">
                                        <i class="material-icons">&#xE254;</i>
                                    </a>
                                    <form action="{% url 'user_delete' user.pk %}" method="post" class="form-table">
                                        {% csrf_token %}
                                        <button onClick="return confirm('Are you sure?');"
                                                class="delete" title="Delete" data-toggle="tooltip">
                                            <i class="material-icons">&#xE872;</i>
                                        </button>
                                    </form>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}